*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background:#8a7799;
}

h1{
    text-align:center;
}
h1:first-of-type{
    transform:translateY(15px);
}

table{
    border-collapse: collapse; 
    margin:auto;
    margin-top:5vh;
    position:absolute;
    left:50%;
    margin-left:-155px;
    top:50px;
}

td{
    border: 3px dashed #fff;
    font-size:70px;
    width:102px;
    height:102px;
    vertical-align: middle;
    text-align:center;
    font-family:cursive;
    cursor:pointer;
}

tr:first-of-type td{
    border-top:0;
}
tr:last-of-type td{
    border-bottom:0;
}

tr td:first-of-type{
    border-left:0;
}
tr td:last-of-type{
    border-right:0;
}

.endgame{
    width:350px;
    top:63vh;
    background:#ffffff30;
    position:absolute;
    left:50%;
    height:175px;
    margin-left:-175px;
    padding-top:50px;
    padding-bottom:50px;
    border-radius:5px;
    color:#000;
    font-size:2em;
    display:none;
}
.text{
    text-align:center;
}
#replay{
    position:absolute;
    bottom:20px;
    left:30%;
    width:40%;
    height:18%;
    border-radius:10px;
    font-size:1.2rem;
}