*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

table{
    border:1px solid #000;
    border-collapse: collapse; 
    width:25%;
    height:40vh;
    margin:auto;
    margin-top:20vh;
}

td{
    border: 1px solid #000;
}