*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background:#8a7799;
}

table{
    border-collapse: collapse; 
    margin:auto;
    margin-top:20vh;
    position:absolute;
    left:50%;
    margin-left:-155px;
    top:50px;
}

td{
    border: 5px dashed #fff;
    font-size:70px;
    width:102px;
    height:102px;
    vertical-align: middle;
    text-align:center;
    font-family:cursive;
    cursor:pointer;
}

tr:first-of-type td{
    border-top:0;
}
tr:last-of-type td{
    border-bottom:0;
}

tr td:first-of-type{
    border-left:0;
}
tr td:last-of-type{
    border-right:0;
}

.endgame{
    width:350px;
    top:120px;
    background:rgba(205,133,63,0.8);
    position:absolute;
    left:50%;
    height:175px;
    margin-left:-175px;
    padding-top:50px;
    text-align:center;
    padding-bottom:50px;
    border-radius:5px;
    color:#000;
    font-size:2em;
    display:none;
}